/*
Nevobo-feed plugin stylesheet
Plugin by Harold Masselink - http://www.masselink.net

Styling can be added here
*/

.nevobofeed td
{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* add cell effect here */
.nevobofeed td:hover 
{
	
} 